<div class="card-container">
    <md-list-item *ngFor="let item of list">
        <md-card class="card">
            <h4 class="card__title">{{item.technology}}</h4>
            <span>{{item.date | date}}</span>
            <p class="chart">
                <svg viewBox="-1 -1 2 2" [pie-chart]="item.skills" style="transform: rotate(-90deg)"></svg>
                <span class="chart__percent">{{item.skills}}%</span>
            </p>
            <md-icon class="remove-icon" (click)="removeSkill(item)">clear</md-icon>
        </md-card>
    </md-list-item>
</div>
