<md-card class="card">
    <md-card-header class="header">
        <md-card-title>Add your skills</md-card-title>
    </md-card-header>
    <md-card-content class="content">
        <form #technologyForm="ngForm" (ngSubmit)="saveSkill(technologyForm.value)">
            <md-input-container class="example-full-width">
                <input mdInput placeholder="Technology" [(ngModel)]="technology" name="technology" required
                       minlength="3">
            </md-input-container>

            <md-input-container>
                <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date" name="date"
                       required>
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker>


            <md-slider
                    class="slider"
                    [(ngModel)]="skills"
                    name="skills"
                    [max]="100"
                    [min]="0"
                    thumbLabel
                    [tick-interval]="10">
            </md-slider>

            <button md-raised-button [disabled]="technologyForm.invalid">Add Skill</button>
        </form>
    </md-card-content>
</md-card>