<div class="filter-container">
    <md-input-container>
        <input mdInput
               [mdDatepicker]="picker"
               placeholder="Filter by date"
               [(ngModel)]="date"
               name="date"
               (change)="changeF()"
        >
        <button mdSuffix
                [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>

    <button
            class="filter-btn"
            md-raised-button
            (click)="filterSkills(date)"
            [disabled]="!date">Filter
    </button>
    <button
            class="clear-filter-btn"
            md-raised-button
            (click)="resetFilter()"
            [disabled]="!date">Reset
    </button>
</div>
